// Миксин для перевода px в vw
@function vw($px) {
    @return $px/(1920 / 100vw);
}

// Стиль выделения элементов на странице
// ::selection {
//     // background: #CCF2E9;
//     background: $accent-hover;
//     color: #fff;
// }
// ::-moz-selection {
//     // background: #CCF2E9;
//     background: $accent-hover;
//     color: #fff;
// }

// Стиль скроллбара
// body::-webkit-scrollbar {
//     position: fixed;
//     top: 0;
//     right: 0;
//     width: .6em;
//     height: 100%;
// }

// body::-webkit-scrollbar-track {
//     background: #FEF1EB;
// }

// body::-webkit-scrollbar-thumb {
//     background-color: #CAC1BC;
// }

body {
    font-family: $ffMain;
    color: $main;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    background: $bg-page;

    &._lock {
        overflow: hidden;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

@mixin visually-hidden {
    position: fixed;
    transform: scale(0);
}

.visually-hidden {
    @include visually-hidden;
}
