@mixin font($fname, $fstyle, $fweight, $furl_woff2) {
    @font-face {
        font-family: $fname;
        font-style: $fstyle;
        font-weight: $fweight;
        font-stretch: 100%;
        font-display: swap;
        src:
            url(#{$furl_woff2}.woff2) format('woff2'),
            url(#{$furl_woff2}.woff) format('woff'),
            url(#{$furl_woff2}.ttf) format('truetype');
    }
}

@include font('Raleway', normal, 400, '../fonts/Raleway/Raleway-Regular');
@include font('Raleway', normal, 600, '../fonts/Raleway/Raleway-SemiBold');
@include font('Raleway', normal, 700, '../fonts/Raleway/Raleway-Bold');
