.container {
    margin: 0 auto;
    padding: 0 24px;
    max-width: $container;
    width: 100%;

    @media (max-width: $laptop-s) {
        padding: 0 20px;
    }
}

.section {
    margin: 62px 0;

    @media (max-width: $laptop-s) {
        margin: 36px 0;
    }
}

.section__header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    align-items: baseline;
    gap: 24px 54px;

    @media (max-width: $tablet) {
        grid-template-columns: auto;
    }
}
