.container {
    margin: 0 auto;
    padding: 0 24px;
    max-width: $container;
    width: 100%;

    @media (max-width: $laptop-s) {
        padding: 0 20px;
    }
}

.section {
    margin: 124px 0;
    overflow: hidden;

    @media (max-width: $laptop-s) {
        margin: 72px 0;
    }
}

.section_overflow {
    overflow: unset;
}

.section__header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    align-items: baseline;
    gap: 24px 54px;
    margin-bottom: 38px;

    @media (max-width: $laptop-s) {
        margin-bottom: 22px;
    }

    @media (max-width: $tablet) {
        grid-template-columns: auto;
        row-gap: 14px;
        margin-bottom: 24px;
    }
}
