// Пользовательские переменные
:root {
    --ffMain: 'Raleway', sans-serif;
    --ffHeader: sans-serif;
    --tr: 0.3s; // Плавность перехода
    --radius: 100px; // border-radius
}

$ffMain: var(--ffMain);
$ffHeader: var(--ffHeader);
$tr: var(--tr);
$minHover: 769px; // Минимальное разрешения экрана для hover-эффекта
$container: 1328px;
$radius: var(--radius);

$laptop-l: 1439px;
$laptop-m: 1023px;
$laptop-s: 991px;
$tablet: 767px;
$mobile-l: 424px;
$mobile-m: 374px;
$mobile-s: 319px;

// Цвета
:root {
    --main: #0f0f0f;
    --second: #000;
    --gray: #3d3d3d;
    --gray-lighter: #E7E9EA;
    --grey-light: #999999;
    --accent: #183054;
    --accent-hover: #0eafc5;
    --accent-active: rgba(14, 175, 197, 0.7);
    --accent-disabled: #c0bfbf;
    --accent2: #dc8b2d;
    --accent2-active: #c27b29;
    --outline: #c0c0c0;
    --bg-page: #f8f8f8;
    --bg-block: #f8f8f8;
    --error: #FF0000;
}

$main: var(--main);
$second: var(--second);
$gray: var(--gray);
$gray-lighter: var(--gray-lighter);
$gray-light: var(--gray-light);
$accent: var(--accent);
$accent-hover: var(--accent-hover);
$accent-active: var(--accent-active);
$accent-disabled: var(--accent-disabled);
$accent2: var(--accent2);
$accent2-active: var(--accent2-active);
$outline: var(--outline);
$bg-page: var(--bg-page);
$bg-block: var(--bg-block);
$error: var(--error);
