.text-slider {
    position: relative;
    margin: 56px 0;
    overflow: hidden;

    @media (max-width: $laptop-s) {
        margin: 48px 0;
    }

    @media (max-width: $tablet) {
        margin: 40px 0;
        padding: 0 25px;
    }
}

.text-slider__picture-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media (max-width: $laptop-s) {
        min-height: 413px;
    }

    @media (max-width: $tablet) {
        min-height: 237px;
    }
}

.text-slider__controls {
    position: absolute;
    top: 100%;
    right: 4px;
    transform: translateY(30px);
    display: grid;
    grid-template-columns: 39px 39px;
    grid-template-rows: 39px;
    gap: 16px;

    @media (max-width: $laptop-s) {
        right: 0;
        transform: translateY(22px);
    }

    @media (max-width: $tablet) {
        position: static;
        display: block;
        transform: unset;

        .swiper-button-prev {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-25px, -50%);
            z-index: 1;
        }

        .swiper-button-next {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(25px, -50%);
            z-index: 1;
        }
    }
}

.text-slider__thumbs-wrapper {
    margin-top: 24px;
    margin-right: 20%;
    min-height: 50px;

    @media (max-width: $laptop-s) {
        margin-top: 14px;
        margin-right: 53%;
    }

    @media (max-width: $tablet) {
        margin-top: 8px;
        margin-right: 0;
    }
}

.text-slider__thumbs {
    overflow: hidden;

    .swiper-slide {
        display: flex;
        cursor: pointer;
    }

    .swiper-slide-thumb-active .text-slider__thumb-img {
        border-color: $accent-hover;
    }
}

.text-slider__thumb-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid transparent;
}
