/*
* Пример использования компонента кнопки
* <button class="btn btn_primary">Акцентная кнопка</button>
* <button class="btn btn_second btn_icon">Кнопка с иконкой вторичного цвета</button>
* <button class="btn btn_primary btn_icon btn_icon-arrow btn_icon-left">Кнопка с иконкой с левой стороны акцентного цвета</button>
*/

$btn-primary-default: var(--accent);
$btn-primary-hover: var(--accent-hover);
$btn-primary-active: var(--accent-active);
$btn-primary-disabled: var(--accent-disabled);

$btn-second-default: var(--btn-second-default);
$btn-second-pressed: var(--btn-second-pressed);
$btn-second-disabled: var(--btn-second-disabled);

// Основной шаблон кнопки
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px 42px;
    font-size: 14px;
    font-weight: 700;
    border-radius: $radius;
    cursor: pointer;
    transition: $tr;
}

// Акцентная кнопка
.btn_primary {
    color: #fff;
    background: $btn-primary-default;

    @media (min-width: $minHover) {
        &:hover {
            background: $btn-primary-hover;
        }
    }

    &:active {
        background: $btn-primary-active;
    }

    &:disabled {
        background: $btn-primary-disabled;
        cursor: auto;
    }
}

.btn_primary-invert {
    color: $btn-primary-default;
    background: #fff;

    @media (min-width: $minHover) {
        &:hover {
            color: #fff;
            background: $btn-primary-hover;
        }
    }

    &:active {
        color: #fff;
        background: $btn-primary-active;
        opacity: 0.7;
    }

    &:disabled {
        color: #fff;
        background: $btn-primary-disabled;
        cursor: auto;
    }
}

.btn_size_sm {
    padding: 8px 25px;
    font-size: 14px;
    line-height: 17px;
}

.btn_size_md {
    padding: 13px 25px;
}

.btn_text_sm {
    font-size: 12px;
    line-height: 17px;
}

.btn-outline {
    display: inline-flex;
    justify-content: center;
    padding: 10px 28px;
    color: $btn-primary-default;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    border: 1px solid $btn-primary-default;
    border-radius: 20px;
    cursor: pointer;
    transition: $tr;

    @media (min-width: $minHover) {
        &:hover {
            color: $white;
            background: $btn-primary-default;
        }

        &:active {
            opacity: 0.7;
        }
    }

    &:active {
        color: $white;
        background: $btn-primary-default;
    }

    &:disabled {
        color: $btn-primary-disabled;
        border-color: $btn-primary-disabled;
        cursor: auto;
    }

    @media (max-width: $tablet) {
        padding: 8px 22px;
    }
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 39px;
    background: $btn-primary-default;
    border-radius: 50%;

    @media (min-width: $minHover) {
        &:hover {
            background: $btn-primary-hover;
        }
    }

    &:active {
        background: $btn-primary-active;
    }
}

.btn-icon_size_sm {
    width: 33px;
    height: 33px;
}

.btn-burger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background: $accent;
    border-radius: 50%;

    &::before,
    &::after {
        content: '';
        transition: $tr;
    }

    &__line {
        opacity: 1;
        transition: $tr;
    }

    &::before,
    &::after,
    &__line {
        position: absolute;
        display: block;
        width: 11px;
        height: 2px;
        background: #fff;
        border-radius: 3px;
    }

    &::before {
        transform: translateY(-4px);
    }

    &::after {
        transform: translateY(4px);
    }

    @media (min-width: $minHover) {
        &:hover {
            background: $btn-primary-hover;
        }
    }

    &:active {
        background: $btn-primary-active;
    }
}

.btn-burger_active {
    .btn-burger__line {
        opacity: 0;
    }

    &::before {
        transform: translateY(0) rotate(45deg) scale(1.3, 1);
    }

    &::after {
        transform: translateY(0) rotate(-45deg) scale(1.3, 1);
    }
}

.btn-navigation {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
    background: $btn-primary-hover;
    border-radius: 50%;
    transition: $tr;

    @media (min-width: $minHover) {
        &:hover {
            background: $btn-primary-default;
        }
    }

    &:active {
        background: $btn-primary-active;
    }

    &:disabled {
        background: $btn-primary-disabled;
        cursor: auto;
    }

    svg {
        fill: $white;
    }
}
