.form__elem_invalid {
    .form-elem__area {
        border-color: $error;
    }

    .form-elem__label {
        color: $error;
    }

    .form__error {
        position: static;
        visibility: visible;
        opacity: 1;
    }
}

.form__error {
    position: absolute;
    display: block;
    margin-top: 4px;
    visibility: hidden;
    opacity: 0;
    color: $error;
    font-size: 12px;
    line-height: 14px;
}

.form-elem {
    position: relative;
    width: 100%;
}

.form-elem textarea {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 220px;
    resize: none;

    @media (max-width: $laptop-s) {
        max-height: 220px;
    }
}

.form-elem__area {
    width: 100%;
    padding: 14px 16px;
    color: $main;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid $gray-lighter;
    border-radius: 5px;
    transition: $tr;

    &:focus {
        border-color: $accent-hover;
    }

    @media (min-width: $minHover) {
        &:hover {
            border-color: $accent-hover;
        }
    }

    &:not(:placeholder-shown),
    &:focus {
        & + .form-elem__label {
            font-size: 12px;
            line-height: 14px;
            background: #fff;
            transform: translate(0, -23px);
        }
    }

    @media (max-width: $tablet) {
        font-size: 14px;
    }
}

.form-elem__label {
    position: absolute;
    top: 16px;
    left: 8px;
    padding: 0 8px;
    color: $gray-light;
    font-size: 16px;
    font-weight: 400;
    pointer-events: none;
    transition: $tr;

    @media (max-width: $tablet) {
        font-size: 14px;
    }
}

.form-file {
    position: relative;
    width: 100%;
}

.form-file__area {
    @include visually-hidden;

    &:disabled + .form-file__label {
        cursor: auto;

        .form-file__icon {
            background: $accent-disabled;
        }
    }
}

.form-file__label {
    display: grid;
    grid-template-columns: 19px 1fr;
    align-items: center;
    gap: 16px;
    padding: 14px 16px;
    color: $gray-light;
    border: 1px dashed $accent-disabled;
    border-radius: 5px;
    cursor: pointer;

    @media (min-width: $minHover) {
        &:hover {
            .form-file__icon {
                background: $accent;
            }
        }
    }

    @media (max-width: $tablet) {
        font-size: 14px;
    }
}

.form-file__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    background: $accent-hover;
    border-radius: 50%;
    transition: $tr;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 9px;
        height: 1px;
        background: #fff;
    }

    &::after {
        transform: rotate(90deg);
    }
}

.form-file__files {
    display: none;
    gap: 8px;
    margin-top: 32px;
}

.form-file__files_visible {
    display: grid;
}

.form-file__file {
    display: grid;
    grid-template-columns: 1fr 19px;
    gap: 16px;
    padding: 17px 16px;
    color: #1E1E1E;
    font-size: 14px;
    line-height: 18px;
    background: $bg-block;
    border-radius: 5px;
    transition: $tr;
}

.form-file__remove {
    .form-file__icon {
        transform: rotate(45deg);
    }

    @media (min-width: $minHover) {
        &:hover {
            .form-file__icon {
                background: $accent;
            }
        }
    }
}
