.pagination {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.pagination__prev,
.pagination__next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: $accent-hover;
    border-radius: 50%;

    &:active {
        background: $accent;
    }

    @media (min-width: $minHover) {
        &:hover {
            background: $accent;
        }
    }

    svg {
        fill: $white;
    }
}

.pagination__prev {
    svg {
        transform: translateX(-1px);
    }
}

.pagination__next {
    svg {
        transform: translateX(1px);
    }
}

.pagination__list {
    display: flex;
    align-items: center;
    margin: 0 16px;
}

.pagination__item {
    & + & {
        margin-left: 8px;
    }

    &:not([href]) {
        cursor: default;
    }
}

.pagination__link {
    display: block;
    text-align: center;
    min-width: 31px;
    color: $accent-disabled;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;

    &:active {
        color: $accent-hover;
    }

    @media (min-width: $minHover) {
        &:hover {
            color: $accent-hover;
        }
    }
}

.pagination__link_active {
    color: $accent-hover;
}
