.article-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(330px, auto);
    gap: 16px;

    @media (max-width: $laptop-s) {
        grid-template-columns: 1fr;
    }

    @media (max-width: $tablet) {
        grid-auto-rows: minmax(335px, auto);
    }
}

.article-cards_col_3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @media (max-width: $laptop-l) {
        gap: 20px;
    }

    @media (max-width: $laptop-s) {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(368px, auto);
    }

    @media (max-width: $tablet) {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(324px, auto);
        gap: 16px;
    }
}
