.article-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: $white;
}

.article-card_view_line {
    .article-card__link {
        display: grid;
        grid-template-columns: 5fr 7fr;

        @media (max-width: $laptop-s) {
            display: flex;
        }
    }

    .article-card__title {
        margin-bottom: 32px;
        font-size: 32px;
        line-height: 40px;

        @media (max-width: $laptop-s) {
            margin-bottom: 24px;
        }

        @media (max-width: $tablet) {
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
        }
    }
}

.article-card__link {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @media (min-width: $minHover) {
        &:hover {
            .article-card__title {
                color: $accent-hover;
            }

            .article-card__look {
                svg {
                    transform: rotate(0);
                }
            }
        }
    }

    &:active {
        .article-card__title {
            color: $accent-hover;
        }

        .article-card__look {
            svg {
                transform: rotate(0);
            }
        }
    }
}

.article-card__content {
    display: flex;
    flex-direction: column;
    padding: 32px;
    flex-grow: 1;

    @media (max-width: $laptop-s) {
        padding: 24px;
    }
}

.article-card__picture {
    display: block;
    width: 100%;
    height: 476px;

    @media (max-width: $laptop-s) {
        height: 300px;
    }
}

.article-card__picture_size_sm {
    height: 163px;
}

.article-card__picture_size_md {
    height: 228px;

    @media (max-width: $laptop-s) {
        height: 228px;
    }
}

.article-card__picture_size_lg {
    height: 500px;

    @media (max-width: $tablet) {
        height: 242px;
    }
}

.article-card__picture-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-card__mark {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    color: $accent-hover;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    text-transform: uppercase;

    &::before {
        content: '';
        display: block;
        margin-right: 12px;
        width: 8px;
        height: 8px;
        background: $accent-hover;
        border-radius: 50%;
    }

    @media (max-width: $tablet) {
        font-size: 11px;
    }
}

.article-card__title {
    margin-bottom: 20px;
    padding-right: 32px;
    color: $accent;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    transition: $tr;

    @media (max-width: $tablet) {
        padding-right: 0;
        font-size: 20px;
        line-height: 28px;
    }
}

.article-card__title_size_sm {
    margin-bottom: 52px;
    padding-right: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    @media (max-width: $tablet) {
        margin-bottom: 22px;
        font-size: 16px;
        line-height: 22px;
    }
}

.article-card__title_size_lg {
    margin-bottom: 26px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;

    @media (max-width: $laptop-s) {
        margin-bottom: 34px;
    }

    @media (max-width: $tablet) {
        margin-bottom: 18px;
        font-size: 24px;
        line-height: 32px;
    }
}

.article-card__desc {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 24px;

    @media (max-width: $tablet) {
        margin-bottom: 24px;
        font-size: 14px;
    }
}

.article-card__desc_margin_lg {
    @media (max-width: $laptop-s) {
        margin-bottom: 42px;
    }

    @media (max-width: $tablet) {
        margin-bottom: 32px;
    }
}

.article-card__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    margin-top: auto;

    @media (max-width: $tablet) {
        gap: 16px 8px;
    }
}

.article-card__date {
    font-size: 12px;
    line-height: 14px;
}

.article-card__views {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;

    &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='12' viewBox='0 0 11 12' fill='none'%3E%3Cpath d='M0.458496 6.00004C0.458496 6.00004 2.29183 2.33337 5.50016 2.33337C8.7085 2.33337 10.5418 6.00004 10.5418 6.00004C10.5418 6.00004 8.7085 9.66671 5.50016 9.66671C2.29183 9.66671 0.458496 6.00004 0.458496 6.00004Z' stroke='%230F0F0F' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.5 7.375C6.25939 7.375 6.875 6.75939 6.875 6C6.875 5.24061 6.25939 4.625 5.5 4.625C4.74061 4.625 4.125 5.24061 4.125 6C4.125 6.75939 4.74061 7.375 5.5 7.375Z' stroke='%230F0F0F' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        width: 11px;
        height: 12px;
        margin-right: 9px;
    }
}

.article-card__look {
    margin-left: auto;

    @media (max-width: $tablet) {
        width: 100%;
    }
}

.article-card__look_left {
    margin-left: unset;
}

.article-card__source {
    color: $second;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.8;

    @media (max-width: $tablet) {
        font-size: 12px;
        line-height: 16px;
    }
}

