.btns-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: -12px;
    margin-right: -16px;
    margin-bottom: 40px;

    @media (max-width: $laptop-s) {
        margin-right: -8px;
        margin-bottom: 24px;
    }

    @media (max-width: $tablet) {
        margin-right: -12px;
    }
}

.btns-group__input {
    @include visually-hidden;

    &:checked + .btns-group__item {
        color: $white;
        background: $accent;
    }
}

.btns-group__item {
    margin-right: 16px;
    margin-top: 12px;
    padding-left: 23px;
    padding-right: 22px;
    letter-spacing: 0.12em;

    @media (max-width: $laptop-s) {
        margin-right: 8px;
    }

    @media (max-width: $tablet) {
        margin-right: 12px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
