.callback {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #fff;

    @media (max-width: $tablet) {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

.callback_padding_bottom {
    padding-bottom: 64px;

    @media (max-width: $laptop-s) {
        padding-top: 64px;
    }
}

.callback__header {
    max-width: 631px;

    @media (max-width: $laptop-m) {
        max-width: unset;
    }
}

.callback__title {
    margin-bottom: 48px;
    padding-right: 48px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;

    @media (max-width: $laptop-m) {
        margin-bottom: 24px;
    }

    @media (max-width: $tablet) {
        font-size: 28px;
        line-height: 34px;
    }
}

.callback__desc {
    margin-bottom: 27px;
    font-size: 16px;
    line-height: 24px;

    @media (max-width: $tablet) {
        margin-bottom: 32px;
        font-size: 14px;
    }
}

.callback__form {
    display: grid;
    grid-template-columns: minmax(auto, 631px) minmax(auto, 617px);
    gap: 32px;

    @media (max-width: $laptop-l) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $laptop-s) {
        grid-template-columns: 1fr;
    }
}

.callback__message {
    grid-column: 2;
    grid-row: 1 / 5;

    @media (max-width: $laptop-s) {
        grid-column: unset;
        grid-row: unset;
    }
}

.callback__attention {
    grid-column: 1;
    display: grid;
    grid-template-columns: 158px 1fr;
    align-items: center;
    gap: 16px 24px;

    @media (max-width: $laptop-l) {
        align-items: start;
        column-gap: 32px;
    }

    @media (max-width: $laptop-m) {
        align-items: center;
    }

    @media (max-width: $tablet) {
        justify-items: start;
        grid-template-columns: 1fr;
    }
}

.callback__attention-desc {
    color: #1E1E1E;
    font-size: 14px;
    line-height: 18px;

    @media (max-width: $laptop-m) {
        font-size: 14px;
        line-height: 22px;
    }

    @media (max-width: $tablet) {
        order: -1;
        margin-top: 8px;
        line-height: 24px;
    }
}

.callback__close {
    top: 40px;

    @media (max-width: $laptop-s) {
        top: 64px;
    }

    @media (max-width: $tablet) {
        top: 48px;
    }
}
