.case-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: $white;
}

.case-card__link {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @media (min-width: $minHover) {
        &:hover {
            .case-card__more {
                background: $accent;
            }
        }
    }

    &:active {
        .case-card__more {
            background: $accent;
        }
    }
}

.case-card__top {
    position: relative;
    margin-bottom: 16px;
    margin-right: 18px;

    @media (max-width: $laptop-s) {
        margin: 0;
    }
}

.case-card__picture {
    display: block;
    height: 111px;
}

.case-card__picture-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.case-card__more {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);

    @media (max-width: $laptop-s) {
        display: none;
    }
}

.case-card__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @media (max-width: $laptop-s) {
        padding: 24px;
    }
}

.case-card__title {
    margin-bottom: 12px;
    color: $accent;
    font-size: 18px;
    line-height: 22px;

    @media (max-width: $laptop-s) {
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 22px;
    }

    @media (max-width: $tablet) {
        font-size: 16px;
        line-height: 22px;
    }
}

.case-card__footer {
    margin-top: auto;
    padding-bottom: 28px;
    border-bottom: 1px solid rgb(192, 191, 191, 0.3);

    @media (max-width: $laptop-s) {
        padding-bottom: 0;
        border-bottom: none;
    }
}

.case-card__source {
    font-size: 14px;
    line-height: 18px;
    opacity: .8;

    @media (max-width: $tablet) {
        font-size: 12px;
        line-height: 16px;
    }
}
