.info-section {
    margin-top: 124px;
    margin-bottom: 124px;

    @media (max-width: $laptop-m) {
        padding-top: 0;
    }

    @media (max-width: $laptop-s) {
        margin: 72px 0;
    }

    @media (max-width: $tablet) {
        margin-bottom: 30px;
    }
}

.info-section__inner {
    padding: 64px 32px;
    color: $white;
    background-color: $accent;
    background-image: url(../img/info-section/info-section.png);
    background-repeat: no-repeat;
    background-position: right bottom;

    @media (max-width: $laptop-l) {
        padding: 40px 32px;
        background-image: url(../img/info-section/info-section-mb.png);;
    }

    @media (max-width: $tablet) {
        padding: 24px;
        background-image: unset;
    }
}

.info-section__content {
    max-width: 680px;
}

.info-section__title {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;

    @media (max-width: $laptop-m) {
        margin-bottom: 32px;
        max-width: 600px;
    }

    @media (max-width: $tablet) {
        margin-bottom: 29px;
        max-width: unset;
        font-size: 30px;
        line-height: 38px;
    }
}

.info-section__desc {
    max-width: 740px;
    margin-bottom: 48px;
    font-size: 18px;
    line-height: 30px;

    @media (max-width: $laptop-m) {
        max-width: 450px;
    }

    @media (max-width: $tablet) {
        margin-bottom: 32px;
        max-width: unset;
        font-size: 16px;
        line-height: 24px;
    }
}
