.main-article {
    position: relative;
    display: flex;
    color: #fff;
    overflow: hidden;
}

.main-article__link {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 32px;
    background: rgba(0, 0, 0, 0.2);

    @media (min-width: $minHover) {
        &:hover {
            background: $accent;
        }
    }

    &:active {
        background: $accent;
    }

    @media (max-width: $laptop-s) {
        padding: 24px;
    }
}

.main-article__picture-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-article__mark {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    text-transform: uppercase;

    &::before {
        content: '';
        display: block;
        margin-right: 12px;
        width: 8px;
        height: 8px;
        background: #fff;
        border-radius: 50%;
    }
}

.main-article__title {
    margin-bottom: 16px;
    max-width: 550px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

    @media (max-width: $tablet) {
        font-size: 20px;
        line-height: 28px;
    }
}

.main-article__title_size_lg {
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;

    @media (max-width: $tablet) {
        font-size: 30px;
        line-height: 38px;
    }

    @media (max-width: $mobile-m) {
        font-size: 20px;
        line-height: 28px;
    }
}

.main-article__desc {
    margin-bottom: 48px;
    max-width: 500px;
    font-size: 16px;
    line-height: 24px;

    @media (max-width: $tablet) {
        display: none;
    }
}

.main-article__footer {
    margin-top: auto;
    display: grid;
    justify-content: start;
    grid-template-columns: auto auto;
    gap: 16px;
    font-size: 12px;
    line-height: 14px;
    opacity: 0.8;
}

.main-article__date {
    opacity: .6;
}

.main-article__views {
    display: flex;
    align-items: center;
    opacity: .6;

    &::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' viewBox='0 0 11 11' fill='none'%3E%3Cpath d='M0.458496 5.49992C0.458496 5.49992 2.29183 1.83325 5.50016 1.83325C8.7085 1.83325 10.5418 5.49992 10.5418 5.49992C10.5418 5.49992 8.7085 9.16659 5.50016 9.16659C2.29183 9.16659 0.458496 5.49992 0.458496 5.49992Z' stroke='white' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.5 6.875C6.25939 6.875 6.875 6.25939 6.875 5.5C6.875 4.74061 6.25939 4.125 5.5 4.125C4.74061 4.125 4.125 4.74061 4.125 5.5C4.125 6.25939 4.74061 6.875 5.5 6.875Z' stroke='white' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        margin-right: 9px;
    }
}
