.main-articles {
    padding-top: 78px;
    padding-bottom: 112px;

    @media (max-width: $laptop-m) {
        padding-top: 16px;
        padding-bottom: 36px;
    }

    @media (max-width: $laptop-s) {
        padding-top: 40px;
    }

    @media (max-width: $tablet) {
        padding-top: 24px;
    }
}

.main-articles__slider {
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: $accent #fff;

    &::-webkit-scrollbar {
        height: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background: $accent;
        outline: 2px solid $accent;
      }

    &::-webkit-scrollbar-track {
        background: #fff;
    }

    @media (max-width: $laptop-m) {
        padding-bottom: 24px;
    }
}

.main-articles__list {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-template-rows: 545px 268px;
    gap: 24px;

    @media (max-width: $laptop-m) {
        width: calc(150vw - 50px);
    }

    @media (max-width: $laptop-s) {
        gap: 20px;
    }

    @media (max-width: $tablet) {
        width: calc(300vw - 80px);
        grid-template-rows: 329px 268px;
    }
}

.main-articles__item {
    &:first-child {
        grid-column: 1 / 3;
    }

    @media (max-width: $tablet) {
        &:first-child {
            grid-column: unset;
        }

        &:last-child {
            grid-column: 3;
            grid-row: 1 / 3;
        }
    }
}
