.main-articles {
    margin-top: 78px;
    margin-bottom: 112px;

    @media (max-width: $laptop-m) {
        margin-top: 16px;
        margin-bottom: 72px;
    }

    @media (max-width: $laptop-s) {
        margin-top: 40px;
    }

    @media (max-width: $tablet) {
        margin-top: 24px;
    }
}

.main-articles__title {
    @include visually-hidden;
}

.main-articles__list {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-template-rows: minmax(545px, auto) minmax(268px, auto);;
    grid-auto-rows: minmax(268px, auto);
    gap: 24px;
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: $accent #fff;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        height: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background: $accent;
        outline: 2px solid $accent;
      }

    &::-webkit-scrollbar-track {
        background: #fff;
    }

    @media (max-width: $laptop-m) {
        grid-auto-flow: column;
        grid-template-columns: unset;
        grid-auto-columns: calc(50% - 12px);
        padding-bottom: 24px;
    }

    @media (max-width: $laptop-s) {
        grid-auto-columns: calc(50% - 10px);
        gap: 20px;
    }

    @media (max-width: $tablet) {
        grid-auto-columns: 100%;
        grid-template-rows: minmax(329px, auto);
    }
}

.main-articles__item {
    scroll-snap-align: start;

    &:first-child {
        grid-column: span 2;
    }

    &:first-child {
        grid-column: span 2;
    }

    @media (max-width: $tablet) {
        &:first-child {
            grid-column: unset;
        }

        &:last-child {
            grid-row: span 2;
        }
    }
}
