.news {
    margin-top: 74px;
    margin-bottom: 124px;

    @media (max-width: $laptop-s) {
        margin-top: 45px;
        margin-bottom: 72px;
    }

    @media (max-width: $tablet) {
        margin-top: 20px;
    }
}

.news__inner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 42px 24px;

    @media (max-width: $laptop-m) {
        grid-template-columns: 1fr;
    }
}

.news__list-slider {
    overflow: hidden;
}

.news__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(712px, auto);
    // grid-auto-rows: minmax(268px, auto);
    grid-auto-rows: minmax(335px, auto);
    gap: 24px;
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: $accent #fff;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        height: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background: $accent;
        outline: 2px solid $accent;
      }

    &::-webkit-scrollbar-track {
        background: #fff;
    }

    @media (max-width: $laptop-m) {
        grid-auto-flow: column;
        grid-template-columns: unset;
        grid-auto-columns: calc(50% - 12px);
        grid-template-rows: minmax(545px, auto) minmax(268px, auto);
        grid-auto-rows: minmax(268px, auto);
        padding-bottom: 24px;
    }

    @media (max-width: $laptop-s) {
        grid-auto-columns: calc(50% - 10px);
        gap: 20px;
    }

    @media (max-width: $tablet) {
        grid-auto-columns: 100%;
        grid-template-rows: minmax(329px, auto);
    }
}
