.other-cases {
    display: block;
    padding: 32px;
    padding-bottom: 28px;
    background: $white;

    @media (max-width: $laptop-s) {
        padding: 0;
        background: none;
    }
}

.other-cases__title {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

    @media (max-width: $laptop-s) {
        margin-bottom: 16px;
    }

    @media (max-width: $tablet) {
        font-size: 20px;
        line-height: 28px;
    }
}

.other-cases__slider {
    .swiper-wrapper {
        display: grid;
        gap: 32px;
        margin: 0;

    }

    @media (max-width: $laptop-s) {
        overflow: hidden;

        .swiper-wrapper {
            display: flex;
            gap: unset;
        }
    }
}

.other-cases__scrollbar {
    display: none;

    @media (max-width: $laptop-s) {
        display: block;
    }
}
