.top-publications {
    padding: 32px;
    background: $white;
    border-radius: 5px;

    @media (max-width: $laptop-m) {
        margin-left: -24px;
        margin-right: -24px;
        padding: 24px;
    }
}

.top-publications__title {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

    @media (max-width: $tablet) {
        font-size: 20px;
        line-height: 28px;
    }
}

.top-publications__list {
    display: grid;
    gap: 32px 30px;

    @media (max-width: $laptop-m) {
        grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
        row-gap: 38px;
    }

    @media (max-width: $tablet) {
        row-gap: 24px;
    }

    @media (max-width: $mobile-m) {
        grid-template-columns: 1fr;
    }
}

.top-publications__item {
    padding-bottom: 28px;
    border-bottom: 1px solid rgb(192, 191, 191, 0.3);

    &:last-child {
        padding-bottom: 0;
        border: none;
    }

    @media (max-width: $laptop-m) {
        padding-bottom: 0;
        border: none;
    }
}
